@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body {
    background-image: url("images/queEs.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid-container-menu {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50px;
    max-height: 50px;
    background-color: rgb(250, 250, 250);
    background-attachment: fixed;
}

#imagen-logo {
    width: 8%;
    max-width: 100%;
}

h1 {
    position: relative;
    top: -85px;
    left: 60px;
}

h2 {
    position: relative;
    top: -120px;
    left: 60px;
}

.menu {
    text-align: right;
    padding-top: 15px;
    padding-right: 35px;
    font-size: 18;
}

.menu>a {
    text-decoration: none;
    padding-right: 15px;

}

#home {
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita repeticiones */
    width: 100%;
    height: 100%;

    background-size: cover;
    object-fit: cover;
}

h3 {
    font-family: "Inspiration", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48;
    text-align: center;
    margin-bottom: 10px;
}

.seccion-quees>p {
    text-align: justify;
    border: 1px solid rgb(133, 37, 114);
    margin: 10px 40px;
    padding: 30px;
    border-radius: 10% 20%;

}

p {
    font-size: 20px;
}

#video {
    display: block;
    /* Asegura que el iframe se comporte como un bloque */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4), -5px -5px 15px rgba(0, 0, 0, 0.4);
}

.search {
    margin-bottom: 20px;
}

.grid-container-proyectos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    object-fit: cover;
}

.grid-container-proyectos>div {
    background-color: #f1f1f1;
    border: 1px solid black;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-container-proyectos>div>img {
    object-fit: cover;
}


/*Carrusel*/
.slider-wrapper {
    position: relative;
    max-width: 500px;
    margin: auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    box-shadow: 1px 2px 3px 4px hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;

}

.image {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    /* Animación infinita */
    animation: slide 6s infinite linear;
}

.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: translateX(-50%);
    z-index: 1;

}

.slider-button {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    border-radius: 50%;

}

.slider-button:hover {
    opacity: 1;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* termina Carrusel*/

.grid-container-contacto {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    object-fit: cover;
    margin: 10;
}

.formulario {
    display: grid;
    font-size: 20;

}

.formulario>input {
    margin-bottom: 10px;
}

#enviar {
    background-color: rgb(218, 192, 245);
    border-color: rgb(53, 5, 97);
}