@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body {
    background-image: url("images/queEs.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid-container-menu {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50px;
    max-height: 50px;
    background-color: rgb(250, 250, 250);
}

#imagen-logo {
    width: 8%;
    max-width: 100%;
}

h1 {
    position: relative;
    top: -85px;
    left: 60px;
}

h2 {
    position: relative;
    top: -120px;
    left: 60px;
}

.menu {
    text-align: right;
    padding-top: 15px;
    padding-right: 35px;
    font-size: 18;
}

.menu>a {
    text-decoration: none;
    padding-right: 15px;

}

#home {
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita repeticiones */
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    object-fit: cover;
}

h3 {
    font-family: "Inspiration", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48;
    text-align: center;
    margin-bottom: 10px;
}

.seccion-quees>p {
    text-align: justify;
    border: 1px solid rgb(133, 37, 114);
    margin: 10px 40px;
    padding: 30px;
    border-radius: 10% 20%;

}

p {
    font-size: 20px;
}

#video {
    display: block;
    /* Asegura que el iframe se comporte como un bloque */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4), -5px -5px 15px rgba(0, 0, 0, 0.4);
}

.search {
    margin-bottom: 20px;
}

.grid-container-proyectos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}